body {
    background-color: rgb(241,241,249);
}


.content{
    max-width: 600px;
    margin: 4% auto;
}

.row{
   display: flex;
    justify-content: space-between;
}

.task-tile{
    display: flex;
    justify-content: space-between;
}
.icons{
    display: flex;
    flex-direction: row;
    margin: auto 20px;
}
.icons i{
    padding: 0 10px;
}
.todoCard{
    margin:11px
}
